.sidedrawer {
  width: 70%;
  height: 100vh;
  background: rgba(255,255,255, 1);
  /* position: fixed so that is doesn't scroll with the background. */
  position: fixed;
  top: 0;
  left: 0;
  /* Keep z-index above backdrop. */
  z-index: 200;
  /* SideDrawer no longer in screen. */
  transform: translateX(-100%);
  transition: all 0.3s ease-out;
}

/* When sidedrawer is set to true, it will add show. */
/* Put translateX() back to where it was before at 0. */
.sidedrawer.show {
  transform: translateX(0);
}

.sidedrawer__links {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.sidedrawer__links > li {
  display: flex;
  align-items: center;
}

.sidedrawer__links > li > a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 1;
  padding: 1rem;
  text-decoration: none;
  color: rgba(154, 18, 179, 1);
  font-size: 1.6rem;
}
