.sidedrawer {
  width: 70%;
  height: 100vh;
  background: rgba(255,255,255, 1);
  /* position: fixed so that is doesn't scroll with the background. */
  position: fixed;
  top: 0;
  left: 0;
  /* Keep z-index above backdrop. */
  z-index: 200;
  /* SideDrawer no longer in screen. */
  transform: translateX(-100%);
  transition: all 0.3s ease-out;
}
